<h1> Category by ID </h1>

<table>

<tr>
     <th>ID</th>
    <th>Name</th>
    <th>Price</th>
   
</tr>

<tr>
    <td>{{category.category_id}}</td>
    <td>{{category.name}}</td>
     <td>{{category.default_price}}</td>
</tr>

</table>