
<h1> A Beautiful story about a {{begin1.animal}} .</h1>
<p> Once upon a time, there was a {{begin1.animal}} named {{begin1.name}}. He was only {{begin1.age}} years old, but he loved to travel.</p>
<a href="http://localhost:3000/middle/middle">See the middle of the story</a>