<br/>
<p> 
   After a while, {{begin1.name}} met a beautiful {{begin1.animal}} named {{end1.foxWife}}. 
   They fell deeply in love and lived in {{end1.housing}}. 
   They lived there happily ever after. The end.
</p>
