<br/>
<p> 
    One day, {{begin1.name}} decided to visit {{middle1.place}}. So, he hopped on a {{middle1.travelVehicule}} to get there. 
    Once he got there, he decided to stay for at least {{middle1.yearsToStay}} years.
</p>
<a href="http://localhost:3000/end/end">See the end of the story</a>