<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<form action="/" method="POST">
    <div>
        <div>
            <label for="animal"> Animal : </label>
            <input id="animal" name="animal" />
        
        </div>
        <button type="submit">Submit</button>
    </div>
 </form>